{% extends 'clients/base.html' %}

{% block content %}
<div class="col-12">
    <div class="row">
        <div class="col-6">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    <h5 class="card-title">Информация о клиенте</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Фамилия:{{ object.surname }}</p>
                    <p class="card-text">Имя:{{ object.name }}</p>
                    <p class="card-text">Отчество:{{ object.second_name }}</p>
                    <p class="card-text">Комментарий:{{ object.comment }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
